@tailwind base;
@tailwind components;
@tailwind utilities;

/* body background color */
body {
  background-color: #f9fafb;
}

/* input autofill background color */
input:autofill, input:-webkit-autofill {
  box-shadow: 0 0 0 30px #ece5e3 inset !important;
}
